<!-- This page introduces our team and our purpose. -->
{% extends 'base.html' %}
{% block content %}
{% load static %}
<header class="masthead" style="background-image: url('{% static 'img/BYU.jpg' %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Our Team</h1>
                    <span class="subheading">BYU Students Raising Awareness About Human Trafficking</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-10 col-xl-10">
                <body>
                    <h2 style="color: black; text-align: center;">Why we created our project</h2>
                    <p> &nbsp &nbsp &nbsp &nbsp We are a group of Information Systems' students that wanted to build a website aimed 
                        at raising awareness for human trafficking. As a team, we recognized the immense 
                        scale of human trafficking as a crime that affects millions of people worldwide. 
                        We were deeply motivated to take action against this heinous crime and make a meaningful 
                        difference. Our website aims to educate others about the issue and encourage people to 
                        take action against human trafficking. Through this project, we hope to inspire others 
                        to get involved and use technology to promote social justice and create positive change in the world.</p>
                </body>
            </div>
        </div>
    </div>
    <p></p>
    <hr>
    <p></p>
    <!--Section 1 Matt Beckstrand-->
    <div>
        <div id="matt" style="padding-right: 160px; padding-left: 130px; padding-bottom: 100px; ">
            <p>&nbsp;</p>
            <img src="{% static 'img/Matt.jpg' %}" alt="Education Photo in High School" height="400px" class="imgformat"> 
                <h2 class="post-title">&nbsp; &nbsp; Matt Beckstrand</h2>
                <hr>
            <p style="padding-top: 10px;"> &nbsp &nbsp &nbsp &nbsp Matt is a student at Brigham Young University studying computer science. He loves to surf, eat all types of food, hangout with friends, and play the guitar. He is always excited for a good adventure!</p>
        </div>
        <p>&nbsp;</p>
        <!--Section 2 Caroline Conley -->
        <div id="caro" style="padding-right: 100px; padding-left: 160px; padding-bottom: 100px; ">
            <p>&nbsp;</p>
            <img src="{% static 'img/Caroline.jpg' %}" alt="Education Photo in High School" height="400px" class="imgformatr"> 
                <h2 class="post-title" style="text-align:right;">Caroline Conley &nbsp; &nbsp;</h2>
                <hr>
            <p style="padding-top: 10px;"> &nbsp &nbsp &nbsp &nbsp Caroline is a sophomore applying to the Information Systems program at BYU. She was born in Boston and raised in Sandy, Utah. Her hobbies include skiing, outside activities, and coding websites! </p>
        </div>
        <p>&nbsp;</p>
        <!--Section 3 Baylee Elbakri-->
        <div id="bay" style="padding-right: 160px; padding-left: 130px; padding-bottom: 100px;">
            <p>&nbsp;</p>
            <img src="{% static 'img/Baylee.jpg' %}" alt="Education Photo in High School" height="400px" class="imgformat"> 
                <h2 class="post-title">&nbsp; &nbsp; Baylee Elbakri</h2>
                <hr>
            <p style="padding-top: 10px;"> &nbsp &nbsp &nbsp &nbsp She is a student at Brigham Young’s Marriott School of Business studying entrepreneurship. She is looking to minor in Information Systems. She loves to travel, try new things, and spend time with loved ones! </p>
        </div>
        <p>&nbsp;</p>
        <!--Section 4 Jack Kelly-->
        <div id="jack" style="padding-right: 100px; padding-left: 160px; padding-bottom: 70px; ">
            <p>&nbsp;</p>
            <img src="{% static 'img/Jack.jpg' %}" alt="Education Photo in High School" height="400px" class="imgformatr"> 
                <h2 class="post-title" style="text-align:right;">Jack Kelly &nbsp; &nbsp;</h2>
                <hr>
            <p style="padding-top: 10px;"> &nbsp &nbsp &nbsp &nbsp Jack is a pre-dental student at BYU studying business in the Marriott School. He is from Gilbert Arizona, and recently got back from serving a two year lds mission in Boston Massachusetts and Mexico City, Mexico. He loves to hangout with friends, go to the beach, and listen to good music. </p>
        </div>
        <p>&nbsp;</p>
         <!--Section 5 Adam Trommlitz-->
        <div id="adam" style="padding-right: 160px; padding-left: 130px; padding-bottom: 60px;">
            <p>&nbsp;</p>
            <img src="{% static 'img/Adam.jpg' %}" alt="Education Photo in High School" height="400px" class="imgformat"> 
                <h2 class="post-title">&nbsp; &nbsp; Adam Trommlitz</h2>
                <hr>
            <p style="padding-top: 10px;"> &nbsp &nbsp &nbsp &nbsp Adam is from Layton, UT. He is an aspiring Information Systems student at BYU who wants to learn more about technology in order to help move the world forward! He enjoys being outside and playing new board games with his friends and family.</p>
        </div>
        <p>&nbsp;</p>
        <!--Section 6 Parker Watts-->
        <div id="park" style="padding-right: 100px; padding-left: 160px; padding-bottom: 150px; ">
            <p>&nbsp;</p>
            <img src="{% static 'img/Parker.jpeg' %}" alt="Education Photo in High School" height="400px" class="imgformatr"> 
                <h2 class="post-title" style="text-align:right;">Parker Watts &nbsp; &nbsp;</h2>
                <hr>
            <p style="padding-top: 10px; padding-right: 100px;"> &nbsp &nbsp &nbsp &nbsp Parker is currently a student at BYU looking to major in Information Systems. He grew up in Sandy, Utah. His hobbies include spending time with family, playing pickleball, going to the beach, and eating good Mexican food. </p>
        </div>
        <p>&nbsp;</p>
    </div>
</main>
{% endblock %}