<!--This page displays the data of the Mission Persons that we added in the admin super user.  -->
{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('{% static 'img/BackgroundData.jpeg' %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1 style="text-align: center;">Missing Persons Data</h1>
                    <span class="meta">
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<!-- Create a table with the fields in the MissingPerson model. We used a for loop to go through each person Missing person. -->
<main>
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <br><br><br>
            <table class="table table-bordered table-dark table-hover">
                <tr>
                    <th>Date Missing</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age at Missing</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Gender</th>
                    <th>Race</th>
                    <th>More Info</th>
                </tr>
                {% for oMissingPerson in data %}
                <tr>
                    <td>{{oMissingPerson.date_missing}}</td>
                    <td>{{oMissingPerson.first_name}}</td>
                    <td>{{oMissingPerson.last_name}}</td>
                    <td>{{oMissingPerson.age_at_missing}}</td>
                    <td>{{oMissingPerson.city}}</td>
                    <td>{{oMissingPerson.state}}</td>
                    <td>{{oMissingPerson.gender}}</td>
                    <td>{{oMissingPerson.race}}</td>
                    <td><a href="{% url 'detailPage' id=oMissingPerson.id %}" style="color: white;">Details</a></td>   
                </tr>
                {% endfor %}
            </table>
            <br><br>
        </div>
    </div>
    <p></p>
    </main>
    {% endblock %}